* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252c;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}

#root {
  width: 50vw;
  margin: 0 auto;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #1a1b21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centre {
  text-align: center;
  margin-bottom: 0;
}

.profile-picture {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.my-title {
  padding-top: 5px;
  margin-top: 0;
  font-weight: normal;
  color: #f3bf99;
  padding-bottom: 15px;
}

.btn {
  padding: 8px 20px;
  background-color: whitesmoke;
  color: #1a1b21;
  margin: 0;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn:active {
  transform: translateY(4px);
}

.blue:hover {
  color: #5093e2;
  background-color: whitesmoke;
}

.white-btn:hover {
  background-color: #1a1b21;
  color: whitesmoke;
}

.Icon--emailIcon,
.icon {
  font-size: 1.5rem;
  margin-right: 5px;
}

.flex {
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #5093e2;
  color: whitesmoke;
}

#about {
  margin: 0 auto;
  width: 80%;
}

.footer-icon {
  font-size: 2.5rem;
  color: whitesmoke;
}

.footer-icon:hover {
  background-color: whitesmoke;
  color: #1a1b21;
  transform: scale(1.2);
  border-radius: 10px;
}

footer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 5%;
  vertical-align: bottom;
}
