* {
  box-sizing: border-box;
  border: 1px solid red;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252c;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}

#root {
  width: 50vw;
  margin: 0 auto;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.centre {
  text-align: center;
  margin-bottom: 0;
}

.profile-picture {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.my-title {
  padding-top: 5px;
  margin-top: 0;
  font-weight: normal;
  color: #f3bf99;
  padding-bottom: 15px;
}

.btn {
  padding: 8px 20px;
  margin: 0;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icon--emailIcon,
.icon {
  font-size: 1.5rem;
  margin-right: 5px;
}

.flex {
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #5093e2;
  color: whitesmoke;
}

#about {
  margin: 0 auto;
  width: 80%;
}
